@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?lv2cna");
  src: url("fonts/icomoon/icomoon.eot?lv2cna#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?lv2cna") format("truetype"), url("../fonts/icomoon/icomoon.woff?lv2cna") format("woff"), url("../fonts/icomoon/icomoon.svg?lv2cna#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icomoon-"],
[class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-benefit:before {
  content: "\e900";
}

.icomoon-control:before {
  content: "\e901";
}

.icomoon-responsibility:before {
  content: "\e902";
}

.appicon {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
}

.appicon-envelope {
  background-position: 0 0;
  width: 42px;
  height: 42px;
}

.appicon-envelope-blue {
  background-position: -171px 0;
  width: 42px;
  height: 42px;
}

.appicon-phone {
  background-position: -43px 0;
  width: 42px;
  height: 42px;
}

.appicon-viber {
  background-position: -86px 0;
  width: 42px;
  height: 42px;
}

.appicon-time {
  background-position: -128px 0;
  width: 42px;
  height: 42px;
}

.appicon-share {
  background-position: -74px -54px;
  width: 14px;
  height: 14px;
}

.appicon-home {
  background-position: -3px -50px;
  width: 17px;
  height: 16px;
}

.appicon-mail {
  background-position: -4px -76px;
  width: 18px;
  height: 13px;
}

.appicon-call {
  background-position: -6px -98px;
  width: 14px;
  height: 19px;
}

.appicon-user {
  background-position: -49px -53px;
  width: 21px;
  height: 23px;
}

.appicon-mobile {
  background-position: -28px -51px;
  width: 17px;
  height: 27px;
}

.appicon-size {
  background-position: -96px -51px;
  width: 22px;
  height: 22px;
}

.appicon-wallet {
  background-position: -125px -51px;
  width: 23px;
  height: 23px;
}

.appicon-grid {
  background-position: 0 -145px;
  width: 53px;
  height: 50px;
}

.appicon-umbrella {
  background-position: -61px -145px;
  width: 50px;
  height: 50px;
}

.appicon-wallet-big {
  background-position: -119px -149px;
  width: 44px;
  height: 44px;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: translate(0, -5px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@-webkit-keyframes logoHourse {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes logoHourse {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.sl {
  background: #222;
  color: #fff;
  padding: 124px 0 204px 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #3b474c;
  font-size: 14px;
  line-height: 1.4;
  overflow-x: hidden;
}

body .body-overlay {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.3s ease 0s;
  width: 100%;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}

body.menu-opened .body-overlay {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 1800;
}

.container {
  max-width: 1315px;
  width: 100%;
}

.main {
  min-height: calc(100vh - 655px);
  margin-bottom: 40px;
  padding-top: 40px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  outline: none !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

input,
textarea {
  outline: none;
}

button {
  outline: none !important;
  box-shadow: none !important;
}

.header__inner {
  padding: 7px 0 11px 0;
  display: flex;
  align-items: center;
}

.header-contacts {
  display: flex;
  align-items: center;
}

.header-contacts a {
  margin-left: 40px;
}

.header a {
  font-size: 17px;
  font-weight: 300;
  color: #333;
}

.header .logo {
  margin: 0 auto;
}

.header .dropdown-toggle {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-weight: 300;
  color: #333;
}

.header .dropdown-toggle:after {
  transition: .3s;
  top: 1px;
  margin-left: 0;
  position: relative;
  font-size: .9rem;
}

.header .dropdown-menu {
  padding: 0;
}

.header .dropdown-menu .dropdown-item {
  display: block;
  margin: 0;
  padding: .5rem 1rem;
  transition: .3s;
}

.header .dropdown-menu .dropdown-item.active {
  background: #b980d1;
  color: #fff;
  cursor: default;
}

.header .dropdown-menu .dropdown-item:hover {
  background: #b980d1;
  color: #fff;
}

.header .dropdown.show .dropdown-toggle:after {
  transform: rotate(180deg);
}

.navi ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navi ul li {
  margin-right: 40px;
}

.navi ul li:last-of-type {
  margin-right: 0;
}

.navi ul li a {
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */