.section-features {
    background: #222 url(../images/bg_clock.png)no-repeat right center;
    color: #fff;
}

.catalog {
    .section-heading {
        margin-bottom: 3rem;
    }

    &__filters {
        display: flex;
        align-items: center;
        margin-bottom: 5rem;

        .filter-label {
            margin-right: 2rem;
            font-weight: 500;
            display: none;

            @include media-breakpoint('gt-sm') {
                display: block;
            }

        }

        .dropdown {
            margin-right: 1.5rem;
            max-width: 220px;
            width: 100%;

            .dropdown-toggle {
                padding: .5rem 1rem;
            }
        }
    }

    .product-item {
        padding: .5rem;
    }

    .swiper-wrapper {
        padding: 0 0 3rem 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 50px;
        height: 50px;
        background: #f3f3f3;
        border-radius: 50%;
        transition: .3s;

        &:after {
            font-size: 1em;
            color: $color-primary;
        }

        &:hover {
            background: darken(#f3f3f3, 5%);
        }
    }

    .swiper-container-horizontal>.swiper-scrollbar {
        height: 10px;
    }

    .swiper-scrollbar-drag {
        background: $color-primary;
    }

    .product-catalog {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem 2rem -1rem;

        @include media-breakpoint('lt-md') {
            margin: 0 0 2rem 0;
        }

        .product-item {
            flex: 0 0 calc(25% - 2rem);
            padding: .5rem;
            margin: 0 1rem 2rem 1rem;

            @include media-breakpoint('lt-lg') {
                flex: 0 0 calc(50% - 2rem);
                margin: 0 1rem 2rem 1rem;
            }

            @include media-breakpoint('lt-md') {
                flex: 0 0 50%;
                margin: 0 0 .6rem 0;
            }
        }
    }
}

.pagination {
    margin: 0 0 2rem 0;
    justify-content: center;

    a {
        text-decoration: none;
        transition: .2s;
        color: #000;
        min-width: 24px;
        height: 24px;
        display: inline-block;
        padding: .25rem .5rem;
        font-size: .9em;
        line-height: 1;
        margin: 0 .25rem;

        &.active {
            background: $color-primary;
            color: #fff;
        }

        &:hover {
            background: $color-primary;
            color: #fff;
        }
    }
}