.section-dark {
    background: #222;
    padding: 4rem 0;
    margin-bottom: 7rem;
    color: #fff;

    .section-heading {
        color: #fff;
        margin: 0 0 2.5rem 0;
    }

    &__text {
        font-size: 400;

        p {
            margin: 0;
        }

        ul,
        ol {
            margin: 0;
            padding: 0 0 0 20px;
        }

        .h2 {
            font-size: 1.25em;
            font-weight: 600;
            margin: 0 0 .5rem 0;
        }

        .text-block {
            margin-bottom: 2rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.slogan {
    max-width: 960px;
    margin-bottom: 4rem;
}

.reviews {
    margin-bottom: 7rem;

    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;

        @include media-breakpoint('lt-md') {
            display: block;
            margin: 0;
        }
    }

    .review-item {
        flex: 0 0 calc(50% - 2rem);
        margin: 0 1rem 2rem 1rem;
        box-shadow: 0px 0px 10px 1px rgba(#000, .25);
        padding: 1rem;
        display: flex;

        @include media-breakpoint('lt-md') {
            margin: 0 0 2rem 0;
        }

        &__img {
            width: 100px;
            margin-right: 1.5rem;
            text-align: center;

            .image-circle {
                width: 100px;
                height: 100px;
                background: #C4C4C4;
                border-radius: 50%;
                margin-bottom: 1rem;
            }
        }
    }
}

.products {
    margin-bottom: 7rem;

    .product {
        &-list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -1rem;

            @include media-breakpoint('lt-sm') {
                margin: 0;
            }
        }

        &-item {
            flex: 0 0 calc(25% - 2rem);
            margin: 0 1rem 2rem 1rem;
            text-align: center;
            transition: .3s;
            background: #fff;
            border-radius: 10px;

            @include media-breakpoint('lt-md') {
                flex: 0 0 calc(50% - 2rem);
            }

            @include media-breakpoint('lt-sm') {
                flex: 0 0 100%;
                margin: 0 0 2rem 0;
            }

            a {
                color: $color-text;
                text-decoration: none !important;
            }

            &:hover {
                box-shadow: 0px 0px 10px 2px rgba(#000, .25);

                .product-item__image {
                    img {
                        transform: scale(1.05);
                    }
                }
            }

            &__image {
                margin-bottom: 1.75rem;
                height: 410px;
                overflow: hidden;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                    transition: .3s;
                }
            }

            &__body {
                font-weight: 500;

                p {
                    margin-bottom: .5rem;
                }
            }
        }
    }
}

.clock-section {
    margin-bottom: 5rem;

    .clock-info {
        display: flex;

        @include media-breakpoint('lt-md') {
            flex-direction: column;
            text-align: center;
        }

        &__list {
            text-align: center;
            padding-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include media-breakpoint('lt-md') {
                order: 1;
                padding: 0;
                max-width: 720px;
                margin: 0 auto;
            }

            p {
                flex: 0 0 33.333%;
                margin: 0;

                @include media-breakpoint('lt-md') {
                    margin: 0 0 1rem 0;
                }
            }
        }

        &__image {
            flex: 0 0 400px;

            @include media-breakpoint('lt-md') {
                order: 0;
                margin-bottom: 1rem;
            }
        }
    }
}