.order {
    padding-bottom: 4rem;

    .form-horizontal {
        background: #fff;
        border-radius: 30px;
        width: 540px;
        padding: 20px;
        margin: -8.25rem auto 4rem auto;
    }
}