.order {

    .form-horizontal {
        background: #fff;
        border-radius: 30px;
        width: 540px;
        padding: 1rem;
        margin-bottom: 6rem;

        @include media-breakpoint('lt-sm') {
            width: 100%;
        }
    }
}