.product {

    &-item {
        display: flex;
        justify-content: center;
        overflow: hidden;

        @include media-breakpoint('lt-md') {
            flex: 0 0 calc(50% - 2rem);
        }

        @include media-breakpoint('lt-sm') {
            flex: 0 0 100%;
            margin: 0 0 2rem 0;
        }

        a {
            width: 100%;
            height: 100%;
            display: block;
            text-align: center;
            border-radius: 10px;
            color: $color-text;
            background: #fff;
            text-decoration: none !important;
            transition: .3s;
        }

        &:hover {
            a {
                box-shadow: 0px 0px 10px 2px rgba(#000, .25);
            }

            .product-item__image {
                img {
                    transform: scale(1.05);
                }
            }
        }

        &__image {
            margin-bottom: 1.25rem;
            width: 100%;
            height: 410px;
            overflow: hidden;
            position: relative;
            padding: .5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            @include media-breakpoint('lt-md') {
                height: 280px;
                margin-bottom: .5rem;
            }

            @include media-breakpoint('lt-sm') {
                height: 140px;
            }

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
                transition: .3s;
                border-radius: 4px;
            }
        }

        &__body {
            font-weight: 500;
            margin-bottom: 1rem;
            padding: 0 .5rem;

            @include media-breakpoint('lt-sm') {
                font-size: .9em;
            }

            p {
                margin-bottom: .5rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 100%;

                @include media-breakpoint('lt-sm') {
                    margin-bottom: .25rem;
                }
            }
        }
    }
}