.footer {
    background: #222;
    padding: 1.5rem 0;

    &__inner {
        max-width: 860px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-contacts {
        padding-left: 7rem;
        flex: 1 0 40%;

        p {
            font-size: 17px;
            color: #fff;
        }

        a {
            margin-bottom: 2rem;
            color: #fff;
        }
    }

    a {
        font-size: 17px;
        font-weight: 300;
    }

    .logo {
        flex: 0 0 210px;
        margin: 0 auto;
    }

    .dropdown {
        &-toggle {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            font-size: 17px;
            line-height: 2;
            font-weight: 300;
            color: #fff;
            display: inline-block;

            &:after {
                transition: .3s;
                top: 1px;
                margin-left: 0;
                position: relative;
                font-size: .9rem;
            }
        }

        a {
            color: $color-text;
        }
    }

    .navi {
        flex: 1 0 40%;

        ul {
            display: block;

            li {
                margin: 0 0 1rem 0;

                &:last-of-type {
                    margin-bottom: 0;
                }

                a {
                    color: #fff;
                }
            }
        }
    }
}