.header {
    &__inner {
        padding: 7px 0 11px 0;
        display: flex;
        align-items: center;

        @include media-breakpoint('lt-lg') {
            flex-direction: column;
        }
    }

    &-contacts {
        display: flex;
        align-items: center;

        @include media-breakpoint('lt-lg') {
            order: 2;
        }

        @include media-breakpoint('lt-sm') {
            .link-call {
                display: none;
            }
        }

        a {
            margin-left: 40px;
        }
    }

    a {
        font-size: 17px;
        font-weight: 300;
        color: #333;
    }

    .logo {
        margin: 0 auto;

        @include media-breakpoint('lt-lg') {
            order: 0;
            margin-bottom: 2rem;
        }
    }

    .dropdown {
        &-toggle {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            font-size: 17px;
            line-height: 2;
            font-weight: 300;
            color: #333;
            display: inline-block;

            &:after {
                transition: .3s;
                top: 1px;
                margin-left: 0;
                position: relative;
                font-size: .9rem;
            }
        }

        a {
            color: $color-text;
        }
    }

    .navi {

        @include media-breakpoint('lt-lg') {
            order: 1;
            margin-bottom: 1rem;
        }
    }
}

.navi {
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        @include media-breakpoint('lt-sm') {
            display: block;
            text-align: center;
        }

        li {
            margin-right: 40px;

            @include media-breakpoint('lt-sm') {
                margin: 0 0 .5rem 0;
            }

            &:last-of-type {
                margin-right: 0;
            }

            a {
                text-transform: uppercase;
            }
        }
    }
}