.header {
    &__inner {
        padding: 7px 0 11px 0;
        display: flex;
        align-items: center;
    }

    &-contacts {
        display: flex;
        align-items: center;

        a {
            margin-left: 40px;
        }
    }

    a {
        font-size: 17px;
        font-weight: 300;
        color: #333;
    }

    .logo {
        margin: 0 auto;
    }

    .dropdown {
        &-toggle {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            font-size: 17px;
            line-height: 2;
            font-weight: 300;
            color: #333;
            display: inline-block;

            &:after {
                transition: .3s;
                top: 1px;
                margin-left: 0;
                position: relative;
                font-size: .9rem;
            }
        }

        a {
            color: $color-text;
        }
    }
}

.navi {
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-right: 40px;

            &:last-of-type {
                margin-right: 0;
            }

            a {
                text-transform: uppercase;
            }
        }
    }
}