.welcome-layout {
  .main {
    padding-top: 0;
  }

  .header:not(.sticky):not(:hover) {
    background: none;
    color: #fff;

    .logo {
      img {
        filter: brightness(0) invert(1);
      }
    }

    a {
      color: #fff;
    }

    .dropdown-toggle {
      color: #fff;
    }

    .dropdown-menu {
      .dropdown-item:not(.active) {
        color: #000;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}